.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #becd71;
    padding: 20px;
  }
  
  .bottom-text div {
    display: flex;
    flex-direction: column;
  }
  
  .bottom-text div:not(:last-child) {
    margin-right: 20px;
  }